@model TomasosTre.Models.DishIngredient

@{
    ViewData["Title"] = "Edit DishIngredient";
}

<h2>Edit</h2>

<h4>DishIngredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="DishId" />
            <input type="hidden" asp-for="IngredientId" />*@
            <div class="form-group">
                <label asp-for="DishId" class="control-label"></label>
                <select asp-for="DishId" class="form-control" asp-items="ViewBag.DishId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IngredientId" class="control-label"></label>
                <select asp-for="IngredientId" class="form-control" asp-items="ViewBag.IngredientId"></select>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsIngredient" /> @Html.DisplayNameFor(model => model.IsIngredient)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BoughtExtra" class="control-label"></label>
                <input asp-for="BoughtExtra" class="form-control" />
                <span asp-validation-for="BoughtExtra" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

