body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.t3-btn-warning, .t3-btn-danger, .t3-btn-success {
    background-color: #CCC;
    margin: 0 2px;
}
    .t3-btn-warning:hover {
        background-color: #f0ad4e;
    }
    .t3-btn-danger:hover {
        background-color: #d9534f;
    }
    .t3-btn-success:hover {
        background-color: #5CB85C;
    }
.t3-order-row {
    padding: 3px 0;
}
.t3-order-row:hover {
    background-color: #f0f0aa;
}