
<h2>Checkout</h2>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <a asp-controller="Account" asp-action="Login" class="login btn btn-success">Log in for speed up form</a>
}
<div id="payment-credentials" class="">
    <h3>Payment credentials <span class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" title="We will not store your card info. It is only used at your payment provider for the payment"></span></h3>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="">Card Number</label>
        <input class="col-sm-8 input-group" type="text" placeholder="e.g. 1234 1234 1234 1234" />
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="">Security Number</label>
        <input class="col-sm-8 input-group" type="number" placeholder="e.g. 123" />
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="">Expiry Date: Month</label>
        <input class="col-sm-8 input-group" type="number" min="1" max="12" placeholder="@DateTime.Now.Month" />
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="">Expiry Date: Year</label>
        <input class="col-sm-8 input-group" type="email" min="2000" max="2999" placeholder="@DateTime.Now.Year" />
    </div>
</div>
@if (!SignInManager.IsSignedIn(User))
{
    <div class="delivery-info">
        <h3>Delivery info <span class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" title="This is required to send delivery to you, but is also stored on your browser to simplify future, unrefistered, purchases"></span></h3>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="">Address</label>
            <input class="col-sm-8 input-group" type="text" placeholder="e.g. Bigstreet 1"/>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="">Zip</label>
            <input class="col-sm-8 input-group" type="number" placeholder="e.g. 123 12"/>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="">City</label>
            <input class="col-sm-8 input-group" type="text" placeholder="e.g. Springfield"/>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="">E-Mail</label>
            <input class="col-sm-8 input-group" type="email" placeholder="e.g. john.doe@example.com"/>
        </div>
    </div>
    <div id="register">
        <div class="form-group">
            <label class="control-label" for="">Register and let me pass this step in the future</label>
            <input class="" type="checkbox" value="Register" />
        </div>
    </div>
}
<button id="order" class="btn btn-primary">Place order</button>